### This root .env file is intended to be by both your PHP application and Docker Compose
### This consolidates all application environment variables into an easy-to-find .env file

COMPOSE_PROJECT_NAME=resolventa_backend_internship
